h1{
	margin:0px;
	padding:0px;
	color:white;
}



.meny{
	height:182px;
	width:100%;
	padding:0px;
	margin:0px;
	background-color:red;
}
.collection{

	margin:1%;
	margin-bottom:0.5%;
	padding:2px;
	color:white;
}



.topblock{
	background-color:black;
	height:90px;
	margin:0px;
	width:100%;
	padding-left:20px;
	padding-top:20px;
	}
.belowblock{
	background-color:black;
	height:90px;
	margin:0px;
	width:100%;
}
.middleblock{
	background-color:white;
	height:2px;
	margin:0px;
	width:100%;
	float:left;
}




.im1{
	height:400px;
	width:25%;
	background-color:black;
	float:left;
	margin:1%;
	margin-top:0.5%;
	color:white;
	padding-left:10px;
}

body{
	background-color:gray;
	margin:0px;
	padding:0px;
}